@model PROG2230_AS4_BH6010.Models.Generated.Vendor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vendor</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VendorName" class="control-label"></label>
                <input asp-for="VendorName" class="form-control" />
                <span asp-validation-for="VendorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorAddress1" class="control-label"></label>
                <input asp-for="VendorAddress1" class="form-control" />
                <span asp-validation-for="VendorAddress1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorAddress2" class="control-label"></label>
                <input asp-for="VendorAddress2" class="form-control" />
                <span asp-validation-for="VendorAddress2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorCity" class="control-label"></label>
                <input asp-for="VendorCity" class="form-control" />
                <span asp-validation-for="VendorCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorState" class="control-label"></label>
                <input asp-for="VendorState" class="form-control" />
                <span asp-validation-for="VendorState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorZipCode" class="control-label"></label>
                <input asp-for="VendorZipCode" class="form-control" />
                <span asp-validation-for="VendorZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorPhone" class="control-label"></label>
                <input asp-for="VendorPhone" class="form-control" />
                <span asp-validation-for="VendorPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorContactLastName" class="control-label"></label>
                <input asp-for="VendorContactLastName" class="form-control" />
                <span asp-validation-for="VendorContactLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorContactFirstName" class="control-label"></label>
                <input asp-for="VendorContactFirstName" class="form-control"/>
                <span asp-validation-for="VendorContactFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorContactEmail" class="control-label"></label>
                <input asp-for="VendorContactEmail" class="form-control" />
                <span asp-validation-for="VendorContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultTermsId" class="control-label"></label>
                <select asp-for="DefaultTermsId" class ="form-control" asp-items="ViewBag.DefaultTermsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DefaultAccountNumber" class="control-label"></label>
                <select asp-for="DefaultAccountNumber" class ="form-control" asp-items="ViewBag.DefaultAccountNumber"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input type="button" value="Cancel" onclick="history.back()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
